extends  ../includes/layout

block main-content
   section.content
         h1 Hello World
         p Hello World klkdasdal klkd alkd; lkd ;lak;l
         div(ng-view)
         h2= mongoMessage